@model GlobalSoft.Models.AptType

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Tipe Ruangan</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Tipe)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tipe)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.TipeID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
