@{
    Layout = null;
}

<head>
    <link rel="stylesheet" href="~/Content/SKUP.css" />
</head>

<div class="kontainer">
    <div id="judul">
        <h4>SYARAT&minus;SYARAT DAN KETENTUAN SURAT PEMESANAN</h4>
    </div>
    <ol>
        <li>Harga jual dan cara pembayaran (termasuk jadwal pembayarannya) atas unit pesanan satuan rumah susun (hunian) <strong>&rdquo;The Grand Stand&rdquo;</strong> yang telah disepakati, mengikat terhadap PEMESAN dan PENERIMA PESANAN.</li>
        <li>Pembelian secara tunai keras, tunai bertahap, atau secara angsuran/cicilan melalui PENERIMA PESANAN atau pihak ketiga lainnya (termasuk bank, maka PEMESAN berkewajiban untuk melunasi setiap pembayaran (uang muka dan/atau angsuran/cicilan) dengan jumlah uang yang telah ditentukan (dalam arti tidak kurang dan tanpa potongan apapun) dan tepat waktu (dalam arti tidak melampaui tanggal jatuh tempo) sesuai dengan jadwal pembayaran
        <li>Apabila setelah membayar uang tanda jadi (Booking Fee), ternyata PEMESAN tidak atau terlambat melaksanakan kewajiban pembayaran berikutnya maksimal 7 (tujuh) hari karena sebab atau alasan apapun juga, maka dengan lampaunya waktu saja cukup membuktikan bahwa PEMESAN atas kehendaknya sendiri mengundurkan diri sebagai PEMESAN dan dengan demikian pemesanan dianggap batal tanpa diperlukan pemberitahuan terlebih dahulu dan seluruh pembayaran yang telah diterima oleh PENERIMA PESANAN tidak dapat dikembalikan dan menjadi hak sepenuhnya PENERIMA PESANAN</li>
        <li>Mengenai penggunaan fasilitas kredit bank (KPA) :</li>
        <ol type="a">
            <li>Untuk proses pelunasan (terlebih dahulu) atas unit pesanan melalui penggunaan fasilitas kredit bank, maka PEMESAN diberikan batas waktu sampai dengan tanggal jatuh tempo yang ditetapkan untuk pelunasan (secara tunai) melalui fasilitas kredit bank</li>
            <li>Pembuatan dan penandatanganan perjanjian pengikatan jual beli dan kredit serta akta/perjanjian lainnya yang berkaitan, harus dilaksanakan selambat lambatnya 2(dua) minggu sebelum jadwal pencairan dana kredit dari bank.</li>
            <li>Dalam hal menggunakan fasilitas kredit bank, PEMESAN menyadari dan mengakui bahwa PENERIMA PESANAN hanya perantara PEMESAN, sehingga segala akibat dan resiko yang berkaitan dengan permohonan fasilitas pinjaman (KPA) merupakan beban dan tanggung jawab PEMESAN sepenuhnya serta tidak dapat dikaitkan dan dibebankan kepada PENERIMA PESANAN karena sebab atau alasan apapun.</li>
            <li>Apabila proses permohonan kredit (KPA) ditolak oleh bank karena alasan apapun juga, maka PEMESAN harus mengalihkan cara pembayaran menjadi tunai bertahap atau sesuai dengan cara yang ditentukan oleh PENERIMA PESANAN yang akan dibayarkan langsung kepada PENERIMA PESANAN, seluruh pembayaran yang telah diterima oleh PENERIMA PESANAN tidak dapat ditarik kembali (dikembalikan) karena sebab atau alasan apapun dan akan menjadi hak sepenuhnya PENERIMA PESANAN, termasuk karena tidak disetujuinya permohonan KPA</li>
        </ol>
        <li>Mengenai Denda Keterlambatan :</li>
        <ol class="b" type="a">
            <li>Apabila PEMESAN tidak atau terlambat membayar atau kurang membayar angsuran / cicilan dan/atau kewajiban pembayaran lain pada tanggal jatuh tempo kewajiban pembayaran,maka PEMESAN di kenakan denda keterlambatan sebesar 1 &permil; (satu permil) per hari terhitung dari angsuran yang tertunggak.</li>
            <li>PENERIMA PESANAN tidak berkewajiban untuk memberitahukan atau mengingatkan PEMESAN,apabila PEMESAN terlambat atas kurang membayar sesuai jadwal dan jumlah pembayaran yang telah di sepakati.</li>
            <li>Penyerahan secara fisik atas Unit Pesanan akan dilaksanakan selambat-lambatnya 120 (seratus dua puluh) hari kalender terhitung sejak seluruh tanggal penyelesaian pembangunan, dan Sertipikat Laik Fungsi yang dibutuhkan telah diterbitkan oleh instansi yang berwenang, kecuali:</li>
            <ol class="b" type="i">
                <li>Jika PENERIMA PESANAN mengubah spesifikasi dan/atau layout standart unitnya.</li>
                <li>Selama jangka waktu tersebut terjadi hal-hal yang berada diluar kekuasaan PENERIMA PESANAN atau terjadi Force Majeure, atau</li>
                <li>PEMESAN belum memenuhi seluruh kewajiban PEMESAN kepada PENERIMA PESANAN, termasuk tetapi tidak terbatas pada pelunasan seluruh harga jual, denda&minus;denda, biaya&minus;biaya dan kewajiban-kewajiban pembayaran lainnya (kalau ada)</li>
            </ol>
            <li>Apabila PENERIMA PESANAN terlambat menyerahkan unit pesanan, maka PENERIMA PESANAN dikenakan denda keterlambatan yang tertuang pada Konfirmasi Pemesan Pembelian</li>
        </ol>

        <li>Mengenai pembatalan, bila terjadi keterlambatan pembayaran mencapai 60 (enam puluh) hari kalender terhitung dari  tanggal jatuh tempo, maka PENERIMA PESANAN berhak membatalkan secara sepihak pemesan atas unit Pesanan, dengan tidak memberlakukan ketentuan dalam pasal 1266 dan pasal 1267 Kitab Undang-Undang Hukum Perdata, dan PENERIMA PESANAN hanya mengembalikan 50% (Lima Puluh Persen) dari jumlah uang yang telah dibayarkan oleh PEMESAN kepada PENERIMA PESANAN setelah dikurangi Booking Fee, PPN dan biaya administrasi pembatalan besarnya 10% (sepuluh persen) dari uang yang sudah dibayarkan. Pengembalian dana tersebut setelah unit bersangkutan terjual kembali.</li>
        <li>PEMESAN tidak dapat mengalihkan atau memindahkan seluruh atau sebagian hak-hak dan kewajiban-kewajiban dalam pemesanan ini kepada orang/pihak lain tanpa persetujuan tertulis dari PENERIMA PESANAN terlebih dahulu, termasuk menyewakan, meminjamkan dan menjaminkan haknya kepada orang lain. Apabila hal tersebut timbul, termasuk, tetapi tidak terbatas karena ketentuan perpajakan, sepenuhnya menjadi beban dan tanggung jawab PEMESAN.</li>
        <li>PEMESAN tidak dapat mengalihkan hak Satuan Unit Rumah Susun sebelum semua pembayaran lunas dan serah terima unit.</li>
        <li>pemesan wajib menandatangani surat konfirmasi unit pesanan (SKUP) selambat lambatnya 7 hari (tujuh hari) setelah surat pemesanan unit (SPU) ditandatangani. bilamana pemesan tidak atau belum juga menandatangani surat konfirmasi unit pesanan (SKUP) yang telah diinfokan oleh penerima pesanan, maka pemesan dengan ini menyatakan telah setuju dan mengikatkan diri terhadap semua ketentuan-ketentuan yang terdapat di dalam surat konfirmasi unit pesanan (SKUP) tersebut. selanjutnya penerima pesanan dan pemesan dianggap telah mengikatkan diri terhadap seluruh ketentuan-ketentuan surat konfirmasi unit pesanan (SKUP) tersebut</li>
        <li>Mengenai Serah Terima Unit Pesanan:</li>
        <ol class="b" type="a">
            <li>Serah terima Unit Pesanan secara fisik Wajib dilaksanakan oleh PEMESAN atas pemberitahuan secara tertulis dari PENERIMA PESANAN (atau petugas/pejabatnya) dan dituangkan dalam suatu Berita Acara Serah Terima (BAST) yang telah ditetapkan setelah unit Pesanan telah siap untuk dapat dilakukan serah terima. Untuk maksud tersebut PEMESAN wajib memenuhi semua syarat-syarat dan ketentuan-ketentuan (termasuk pelunasan Harga Jual, denda dan kewajiban pembayaran lainnya kalau ada) ditetapkan oleh PENERIMA PESANAN.</li>
            <li>Apabila dalam waktu 7 (tujuh) hari kalender setelah tanggal jadwal penandatanganan BAST ternyata PEMESAN tidak datang dan tidak mendatangani Berita Acara Serah Terima karena sebab/alasan apapun, maka PEMESAN dianggap menyetujui bahwa penyerahan Unit Pesanan telah dilakukan dan dalam hal demikian bukti pengiriman surat pemberitahuan untuk melaksanakan serah terima Unit Pesanan tersebut dianggap merupakan bukti yang cukup bahwa serah terima unit Pesanan telah dilaksanakan pada hari ke 7 (tujuh) setelah tanggal serah terima tersebut.</li>
            <li>Apabila ada penambahan luasan bangunan maka PEMESAN harus menambah biaya sesuai dengan harga yang telah ditentukan oleh Pihak PENERIMA PESANAN.</li>
        </ol>
        <li></li>
        <ol class="b" type="a">
            <li>Unit Pesanan yang telah dipesan tidak dapat ditukar dengan unit lain.</li>
            <li>PENERIMA PESANAN bertanggung jawab menyelesaikan Unit Pesanan dalam kondisi baik dan layak huni.</li>
            <li>Pemesan tidak boleh melakukan renovasi, perubahan dan/atau penambahan pada bangunan dari Unit Pesanan sebelum serah terima dilakukan dan berdasarkan syarat-syarat dan Ketentuan-ketentuan yang telah ditetapkan oleh PENERIMA PESANAN.</li>
            <li>Pemesan wajib menggunakan unitnya sesuai dengan peruntukan unit pesanan, yakni hunian.</li>
            <li>Terhitung mulai tanggal serah terima fisik, maka segala resiko dan tanggung jawab atas unit Pesanan, termasuk kewajiban pembayaran Pajak Bumi dan Bangunan (PBB) tahun berjalan, Iuran Pengeluaran (Service Charge Sinking Fund dan lain-lain) beralih menjadi beban (tanggung jawab) dan wajib dibayar oleh PEMESAN.</li>
            <li>Semua pembayaran wajib dilakukan secara penuh tanpa potongan apapun dan dilaksanakan langsung kepada dan di kantor PENERIMA PESANAN yaitu PT. Multi Tower Indo Santosa yang beralamat di Jl. Raya kupang indah nomor 9, Surabaya secara tunai atau cek dan bilyet giro atau mengirim uang (transfer) melalui bank CIMB NIAGA ke rekening dengan nomor 8600-8888-7700 atas nama PT. Multi Tower Indo Santosa dengan menyebutkan nama Proyek, The Grand Stand nama unit yang dipesan, nama pembeli, tower, Lantai, Nomor Unit, Angsuran ke ...... Bukti transfer wajib dikirimkan ke kantor PT. Multi Tower Indo Santosa yang beralamat di Jl. Raya kupang indah nomor 9, Surabaya dan keterlambatan pembayaran ataupun akibat lainnya yang mungkin timbul disebabkan karena kesalahan transfer melalui Bank menjadi tanggung jawab PEMESAN.</li>
        </ol>
        <li>Bila terjadi penolakan cek atau bilyet giro dari bank yang bersangkutan, PEMESAN dikenakan denda sebesar Rp.100.000,- (seratus ribu rupiah) setiap kali penolakan dan wajib segera dibayarkan kepada PENERIMA PESANAN secara tunai untuk waktu bersamaan.</li>
        <li>Perubahan Konstruksi, Tata letak dan Design.</li>
        <ol class="b" type="a">
            <li>Dalam hal sepanjang masa konstruksi, bilamana terjadi perubahan pada denah yang menyebabkan tata letak, nomor unit Design dan/atau luas Unit Pesanan berubah atau ditiadakan, termasuk dalam hal perubahan rencana design gedung itu mengakibatkan perubahan letak atau penempatan bagian atau fasilitas umum, maka PEMESAN tidak akan berkeberatan atau menerima unit lannya sebagai pengganti.</li>
            <li>PEMESAN dan PENERIMA PESANAN sepakat untuk memperhitungkan kemudian atau menyesuaikan Harga jual unit pesanan, baik unit pesanan semula atau penggantinya, bilamana terdapat selisih luas akibat perubahan tersebut sebagaimana dimaksud point a di atas.</li>
            <li>Apabila PEMESAN tidak menyetujui untuk tetap pada unit pesanan semula atau penggantinya atau penyesuaian harga jualnya sebagaimana dimaksud dalam point a dan b di atas, maka PEMESAN akan menerima dari PENERIMA PESANAN pengembalian pembayaran harga jual unit pesanan sejumlah yang telah diterima oleh PENERIMA PESANAN tanpa disertai bunga, denda maupun segala bentuk rugi lainnya, setelah dikurangi dengan pajak-pajak dan kewajiban lain yang masih tertunggak.</li>
        </ol>
        <li>Hal-hal yang tidak atau belum diatur dalam surat Pemesanan ini akan diatur lebih lanjut dalam surat konfirmasi unit pesanan dan perjanjian-perjanjian lain yang dibuat sehubungan Unit Pesanan.</li>
        <li>Dengan Mendatangani Surat Konfirmasi Unit Pesanan ini, saya menyatakan bahwa semua data diatas adalah benar, dan menyetujui serta tunduk pada syarat-syarat dan ketentuan-ketentuan Surat Konfirmasi Unit Pemesanan  yang telah saya baca pada lembar baliknya maupun ketentuan lain yang berlaku dari waktu ke waktu.</li>
        <li>Demikian dengan maksud untuk terikat oleh hukum setelah Surat Pemesanan unit ini dibaca dengan seksama dan dimengerti isinya, maka kemudian ditanda tangani Surat Konfirmasi Unit Pesanan (SKUP) ini.</li>
    </ol>
    </br>
    Surabaya,@DateTime.Now;
    </br>
    </br>
    </br>
    </br>
    </br>
    ----------------------------

</div>