<table id="assets-data-table" class="display" style="width:100%">
    <thead>
        <tr>
            <th>Name</th>
            <th>Age</th>
            <th>Position</th>
            <th>Office</th>
        </tr>
    </thead>
</table>
@section Scripts
{

    <script type="text/javascript">


     $(document).ready(function () {
         var table = $('#assets-data-table').DataTable({
             "language": {
                 "decimal": ",",
                 "thousands": "."
             },
             "scrollY": 300,
             "scrollX": true
         });

         $('#assets-data-table tbody')
             .on('mouseenter', 'td', function () {
                 var colIdx = table.cell(this).index().column;

                 $(table.cells().nodes()).removeClass('highlight');
                 $(table.column(colIdx).nodes()).addClass('highlight');
             });
     });
    </script>
    }