@model GlobalSoft.Models.PiutangDetail
@{ #line 2 "C:\Users\Personal\Source\Repos\globalsoftsolution3\GlobalSoft\Views\BayarAngsuran\PiutangDetail.cshtml"
                /**/

                int i = ViewBag.i == null ? 0 : ViewBag.i;
}
<p>
    <b>Course:</b> @Html.TextBoxFor(model => model.Keterangan, null, new { @Name = "[" + i + "].Keterangan" })
    <b>Credit:</b> @Html.TextBoxFor(model => model.Piutang, null, new { @Name = "[" + i + "].Piutang" })
    <b>Credit:</b> @Html.TextBoxFor(model => model.Bayar, null, new { @Name = "[" + i + "].Bayar" })
</p>
